@model IEnumerable<ALPS_Application.Models.Office>

@{
    ViewBag.Title = "Office Index";
}

<h2>Office Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="officeTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USState.Abbreviation)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USState.Abbreviation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<table id="officeTable2" class="display">
</table>

@section css{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
}

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script>
        $(function () {
            $('#officeTable').DataTable();
        });
    </script>
}